<%- include('../includes/head.ejs') %>
      <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
           <ul class="cart__item-list">
              <% products.forEach(p => { %>
                  <li class="cart__item">
                      <h1><%= p.productId.title %></h1>
                      <h2>Quantity: <%= p.quantity %></h2>
                  </li>
              <% }) %>
          </ul> 
          <div class="centered">
            <h2>Total <%= totalSum %></h2>
          </div>
          <div id="order-btn" class="btn">ORDER</div>
          <script src="https://js.stripe.com/v3/"></script>
          <script>
            const stripe = Stripe("pk_test_51NeEeAFo1K7gZOwg2fUSyN6nD5wluuIM3V60umRpYHLbnIiYQrWLOBRiEqa0LE2SLl82nmK7r4hVLR5VI7pmWOMt00V0n9ZTuP");
            const orderBtn = document.getElementById('order-btn');
            document.addEventListener('click', () => {
              stripe.redirectToCheckout({
                sessionId: '<%= sessionId %>',
              })
            })

          </script>
        </main>
        <%- include('../includes/end.ejs') %>
